<mat-card fxFlex class="content">
    
    <mat-card-title>
        <h2>{{title}}</h2>
    </mat-card-title>
   
    <mat-card-content>
        <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef class="cell-center"> Date </th>
                <td mat-cell *matCellDef="let appointment" class="cell-center">
                    {{appointment.date}}</td>
            </ng-container>
            <ng-container matColumnDef="time">
                <th mat-header-cell *matHeaderCellDef class="cell-center"> Time </th>
                <td mat-cell *matCellDef="let appointment" class="cell-center">
                    {{appointment.time}}</td>
            </ng-container>
            <ng-container matColumnDef="duration">
                <th mat-header-cell *matHeaderCellDef class="cell-center"> Duration in minutes</th>
                <td mat-cell *matCellDef="let appointment" class="cell-center">{{appointment.duration}}</td>
            </ng-container>
            <ng-container matColumnDef="medicalCenter">
                <th mat-header-cell *matHeaderCellDef class="cell-center"> Medical Center</th>
                <td mat-cell *matCellDef="let appointment" class="cell-center">{{appointment.medicalCenterName}}</td>
            </ng-container>
            <ng-container matColumnDef="cancel">
                <th mat-header-cell *matHeaderCellDef class="cell-center"> Cancel an appointment</th>
                <td mat-cell *matCellDef="let appointment" class="cell-center">
                    <button color="primary" mat-raised-button type="submit"
                        (click)="cancelScheduledAppointment(appointment.appointmentId)">
                        Cancel
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </mat-card-content>
</mat-card>
