<mat-toolbar class="app-navbar" color="warn">
  <div>
      <button mat-button mat-ripple routerLink="/">
          <span>Home</span>
      </button>
      <button mat-button mat-ripple routerLink="/update-user">
        <span>My informations</span>
    </button>
    <button mat-button mat-ripple routerLink="/update-medical-cenntar">
      <span>Update Center</span>
  </button>
  <button mat-button mat-ripple routerLink="/update-cent-administrator">
    <span>Update CentAdm info</span>
</button>
  </div>
  <span class="flexExpand"></span>
  <div>
    <div fxLayout="row">
      <button mat-button mat-ripple routerLink="/user-registration">
        <span>Register</span>
    </button>
    <button mat-button mat-ripple routerLink="/login">
        <span>Login</span>
    </button>
    </div>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>
