<mat-card elevation="5" fxFlex class="content" >
    <mat-card-title>
        <h2>{{title}}</h2> 
    </mat-card-title>
    <mat-card-content>
        <p></p>
        <form (ngSubmit)="updateUser()" *ngIf="!submitted">
            <div class="row" *ngIf="user">
                <div>
                    <mat-form-field>
                        <label>First Name: </label>
                        <input name ="name" [(ngModel)]="user.name" matInput required>
                    </mat-form-field>
                    <mat-form-field>
                        <label>Last Name: </label>
                        <input name ="surname" [(ngModel)]="user.surname" matInput required>
                    </mat-form-field>
                    <mat-form-field>
                        <label>JMBG: </label>
                        <input name ="jmbg" [(ngModel)]="user.jmbg" matInput required>
                    </mat-form-field>
                    <mat-form-field>
                        <label>Email: </label>
                        <input name ="email" [(ngModel)]="user.email" matInput disabled>
                    </mat-form-field> 
                    <mat-form-field>
                        <label>Phone number: </label>
                        <input name ="phoneNumber" [(ngModel)]="user.phoneNumber" matInput required>
                    </mat-form-field> 
                    <mat-form-field>
                        <label>Gender</label>
                        <select name ="gender" matNativeControl [(ngModel)]="user.gender" required>
                            <option value="MALE">Male</option>
                            <option value="FEMALE">Female</option>
                        </select>
                    </mat-form-field>
                </div>
            <div>
                    <mat-form-field>
                        <label>Street: </label>
                        <input name ="street" [(ngModel)]="user.address.street" matInput required>
                    </mat-form-field>
                    <mat-form-field>
                        <label>Street number: </label>
                        <input name ="streetNumber" [(ngModel)]="user.address.streetNumber" matInput required>
                    </mat-form-field>
                    <mat-form-field>
                        <label>City: </label>
                        <input name ="city" [(ngModel)]="user.address.city" matInput required>
                    </mat-form-field>  
                    <mat-form-field>
                        <label>Country: </label>
                        <input name ="country" [(ngModel)]="user.address.country" matInput required>
                    </mat-form-field>
                    <mat-form-field>
                        <label>Occupation</label>
                        <select name ="occupation" matNativeControl [(ngModel)]="user.occupation" required>
                            <option value="STUDENT">Student</option>
                            <option value="EMPLOYED">Employed</option>
                            <option value="UNEMPLOYED">Unemployed</option>
                            <option value="PENSIONER">Pensioner</option>
                        </select>
                    </mat-form-field>
                    <mat-form-field>
                        <label>Occupation information:</label>
                        <input name ="occupationInfo" [(ngModel)]="user.occupationInfo" matInput required>
                    </mat-form-field>

                </div>
                   
            </div>
            <label *ngIf="message != ''" style="color: red;">{{message}}</label>
            <br><br>

            <button color="primary" style="width: 86%; margin-left: 7%;"  mat-raised-button type="submit">Submit</button>
        </form> 
        <mat-spinner *ngIf="submitted" mode="indeterminate"></mat-spinner>
    </mat-card-content>       
</mat-card>

