<div style=" margin-left:1%; margin-top: 2%;">
  <div style=" margin-left:5%; margin-top: 1%;"><b>Sort medical centers:</b></div>   
  <select [(ngModel)]="selectedOption" class="btn dropdown-toggle"  style="margin-left: 4%;" (change)="changeSorting()">
     <option [ngValue]=0 disabled selected>Sorting</option>
     <option [ngValue]=1 >By name</option>
     <option [ngValue]=2 >By city</option> 
     <option [ngValue]=3 >By grade</option> 
 </select>

</div>

<div>
    <div class="row"> 
            <div class="card"  *ngFor="let mc of medicalCenters">
              <img :src="../assets/images/{{mc.image}}" class="card-img-top" sty alt="Missing image">
              <ul class="list-group list-group-flush">
                <li class = "list-group-item">
                  <strong>Name: </strong><br>{{mc.name}}
                </li>
                <li style="height: 70px;" class="list-group-item"><strong>Address:</strong><br>
                    {{mc.address.street}} {{mc.address.streetNumber}}<br>
                    {{mc.address.city}}, {{mc.address.country}}
                </li>
                <li style="height: 70px;" *ngIf="mc.averageGrade != 0.0" class="list-group-item"><strong>Average grade:</strong><br> {{mc.averageGrade}}</li>
                <li style="height: 70px;" *ngIf="mc.averageGrade == 0.0" class="list-group-item">The medical center currently does not have any ratings.</li>  
                <li  *ngIf="mc.description !== null" style="height: 70px;" class="list-group-item"><strong>Description:</strong><br> {{mc.description}}</li> 
                <li  *ngIf="mc.description == null" style="height: 70px;" class="list-group-item">The medical center currently does not have decription.</li> 
              </ul> 
        </div>
    </div>
    
    </div>

