<div>
    <input type="text" placeholder="Enter name or surname" [(ngModel)]="filteredString">
    <a mat-button class="searchBtns" (click)="search(filteredString)">Search</a>
    <a mat-button class="searchBtns" (click)="cancelSearch()">Cancel</a>
</div>

<div>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Surname</th>
                <th>Gender</th>
                <th>Address</th>
                <th>Phone number</th>
                <th>Occupation</th>
                <th>Occupation Info</th>
                <th>User Type</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{user.name}}</td>
                <td>{{user.surname}}</td>
                <td>{{user.gender}}</td>
                <td>{{user.address.street}} {{user.address.streetNumber}}
                    {{user.address.city}}<br>
                    {{user.address.country}}
                </td>
                <td>{{user.phoneNumber}}</td>
                <td>{{user.occupation}}</td>
                <td>{{user.occupationInfo}}</td>
                <td>{{user.userType}}</td>
            </tr>
        </tbody>
    </table>
    
</div>
