<mat-card elevation="5" fxFlex class="content" >
    <mat-card-title>
        <h2>{{title}}</h2> 
    </mat-card-title>
    <mat-card-content>
        <p></p>
        <form>
            <div class="row" *ngIf="newPassword">
                <div>
                    <mat-form-field>
                        <label>Email: </label>
                        <input name ="name" [(ngModel)]="newPassword.email" matInput required>
                    </mat-form-field>
                    <mat-form-field>
                        <label>Old Password: </label>
                        <input name ="surname" [(ngModel)]="newPassword.oldPassword" matInput required>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <label>New Password: </label>
                        <input name ="jmbg" [(ngModel)]="newPassword.password" matInput required>
                    </mat-form-field>
                    <mat-form-field>
                        <label>Repeat the new password: </label>
                        <input name ="email" [(ngModel)]="newPassword.passwordRepeated" matInput required>
                    </mat-form-field> 
                </div>
            </div><br>

            <button color="primary" style="width: 86%; margin-left: 7%;" (click)="changePassword()" mat-raised-button type="submit">Submit the new Password</button>
        </form> 
        <label *ngIf="message != ''" style="color: red;">{{message}}</label>
    </mat-card-content>       
</mat-card>
