<mat-toolbar class="app-navbar" color="warn">
    <div>
        <button mat-button mat-ripple routerLink="/">
            <span>Home</span>
        </button>
        <button *ngIf="isLoggedIn" mat-button mat-ripple routerLink="/update-user">
          <span>My informations</span>
      </button>
      <button *ngIf="isCenterAdministrator" mat-button mat-ripple routerLink="/update-medical-cenntar">
        <span>Update Center</span>
    </button>
    </div>
    <span class="flexExpand"></span>
    <div>
      <div fxLayout="row">
        <button *ngIf="!isLoggedIn" mat-button mat-ripple routerLink="/user-registration">
            <span>Register</span>
        </button>
        <button *ngIf="!isLoggedIn" mat-button mat-ripple routerLink="/login">
            <span>Login</span>
        </button>
        <button *ngIf="isLoggedIn" mat-button mat-ripple (click)="logout()">
          <span>Logout</span>
      </button>
      </div>
    </div>
  </mat-toolbar>
